h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
.timeline {
    list-style-type: none;
    padding: 20px;
    li {
        position: relative;
        margin: 0;
        padding-bottom: 1em;

        &:first-child::before {
          top: 42px;
        }

        &:last-child::before {
          height: 45%;
        }

        .MuiButtonBase-root {
          color: #3572F1;
          width: 100%;
          height: 50px;
          padding: 50px;
          font-size: 20px;
          background: #EBF1FE;
          font-style: normal;
          font-family: Roboto;
          font-weight: 300;
          line-height: 23px;
          border-color: #3572F1;
          border-style: Solid;
          border-width: 2px;
          border-radius: 10px;
          letter-spacing: -0.01em;

          .buttonTitle {
            width: 100%;
            height: 20px;
            background-color: royalblue;
            position: absolute;
            top: 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            color: white;
          }
        }

        &.pending, &.completed {
          .MuiButtonBase-root {
            background-color: white;
            opacity: 50%;
          }
          .buttonTitle {
            background-color: #EBF1FE;
          }
          &:after {
            border-color: darkgray;
          }
        }
        
      }
    li::before {
        content: '';
        background-color: royalblue;
        position: absolute;
        bottom: 0;
        top: 3px;
        left: -20px;
        width: 1px;
        height: 100%
      }
      li::after {
        content: '';
        position: absolute;
        background-color: white;
        border-style: solid;
        border-radius: 50px;
        border-color: royalblue;
        top: 42px;
        left: -32px;
        height: 20px;
        width: 20px;
      }
  
}
.appointmentDetails {
  display: block;
  flex-direction: column;
}
.titleUnderline {
  width: 56px;
  height: 4px;
  background-color: #5D8EF4;
  border: none;
}
.timeItem {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}
.dialogButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}